.outerf {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.outerfa {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .outerfa {
        margin-top: 20px;
        display: block;
        justify-content: space-evenly;
    }
    .outerf {
        display: block;
        margin-top: 40px;
        justify-content: space-around;
    }
}